* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;

}

.hero {
    background-image: url('./job.jpeg');
    background-size: cover;
    ;
}

.hero>div {
    min-height: 70vh;
}

.hero .content {
    width: 70%;
    height: fit-content;
}

.scroll-to-top {
    right: -100px;
    bottom: -100px;
    transition: 500ms;
}

.display-btn {
    right: 40px;
    bottom: 40px;
    z-index: 100000;
}

.overlay-bg {
    background-color: rgba(0, 0, 0, 0.8);

}

/* 
about us */
/* .about-us-inner>div {
    width: 50%;
} */

.about-us-inner .card {
    width: 250px;
}

.services .card .main-icon {
    font-size: 5rem;
}


.search-input input {
    width: fit-content;
    padding: 10px;
}

.fit-content {
    width: fit-content;
}

.search-input input {
    outline: none;
    border: none;
}





.btn {
    border: none;
    outline: none;
    ;
    margin-left: 20px;
    background-color: darkcyan;
}




/* not fond data */

.no-results {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.no-results h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.no-results p {
    font-size: 18px;
    margin-bottom: 0;
}